@using CeoHelper.Data.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="contact-info">
        <p class="contact-info-email"><a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name</a></p>
    </div>
    <div class="header-button d-none d-xl-block">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="rd-btn">Logout</button>
        </form>
    </div>
}
else
{
    <div class="header-button float-right d-none d-xl-block">
        <a asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>
    <div class="header-button d-none d-xl-block">
        <a asp-area="Identity" asp-page="/Account/Register">Register</a>
    </div>
}
