<!-- ========= Page Title Section ============ -->
<div class="page-title-area page-title-height color-white" style="background-image: url(~/img/bg/join-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="title-details">
                    <div class="page-title d-flex align-items-center">
                        <h2 class="mb-0">Contact Us</h2>
                    </div>
                    <div class="page-bc">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Contact</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ========= Page Title Section ============ -->
<!--================Contact Section Starts================ -->
<div class=" contact-area-3">
    <div class="container contact-bg-3">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4">
                <div class="contact-section text-center pt-100 pb-95">
                    <div class="contact-icon pb-50">
                        <img src="~/img/icons/red-email-icon.png" alt="email">
                    </div>
                    <div class="contact-info ">
                        <h3>Email Address</h3>
                        <p>info@domain.com</p>
                        <p>jobs@domain.com</p>
                    </div>

                </div>
            </div>
            <hr>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4">
                <div class="contact-section text-center pt-100 pb-95">
                    <div class="contact-icon pb-50">
                        <img src="~/img/icons/red-phon-icon.png" alt="phone">
                    </div>
                    <div class="contact-info ">
                        <h3>Phone Number</h3>
                        <p>info@domain.com</p>
                        <p>jobs@domain.com</p>
                    </div>

                </div>
            </div>
            <hr>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4">
                <div class="contact-section text-center pt-100 pb-95">
                    <div class="contact-icon pb-50">
                        <img src="~/img/icons/red-location-icon.png" alt="location">
                    </div>
                    <div class="contact-info ">
                        <h3>Office Address</h3>
                        <p>info@domain.com</p>
                        <p>jobs@domain.com</p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<!--================Contact Section Ends================ -->
<!-- contact-form-area  -->
<div class="contact-form-area pt-120 pb-90">
    <div class="container">
        <div class="section-title mb-60">
            <div class="line ml-10"></div>
            <h3>Contact Us</h3>
            <h2 class="mt-15 mb-35">
                Get In Touch
            </h2>
        </div>
        <div class="contact-form mb-30">
            <form id="contact-form" action="#" method="POST">
                <div class="row">
                    <div class="col-lg-6">
                        <input name="name" type="text" placeholder="Full name">
                    </div>
                    <div class="col-lg-6">
                        <input name="email" type="email" placeholder="email address">
                    </div>
                    <div class="col-lg-12">
                        <input name="subject" type="text" placeholder="subject">
                    </div>
                    <div class="col-lg-12">
                        <textarea name="message" cols="30" rows="10" placeholder="write message"></textarea>
                        <button type="submit" class="rd-btn">Send Message </button>
                    </div>
                </div>
            </form>
            <p class="ajax-response"></p>
        </div>
    </div>
</div>
<!-- contact-form-area --> 