<div id="ceoHelperModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ceo Helper Form</h5>
            </div>
            <div class="modal-body">
                <div class="content-generator-form">
                    <div class="form-group">
                        <label class="content-generator-form-control-label" for="languageSelector">Choose language</label>
                        <select class="form-control" id="modal-form-languageSelector">
                            <option>English</option>
                            <option>Russian</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="modal-form-control-label" for="modal-form-textSize">Text size in symbols</label>
                        <input class="form-control" type="number" id="modal-form-textSize" onkeypress="isNumberKey(event)" min="0" />
                        <span class="text-danger modal-form-textSize-error"></span>
                    </div>
                    <div class="form-group">
                        <label class="modal-form-control-label" for="modal-form-keywords">Keywords</label>
                        <textarea class="form-control  keywords" id="modal-form-keywords" placeholder="put teach keyword per line or separate via coma"></textarea>
                        <span class="text-danger modal-form-keywords-error"></span>
                    </div>
                    <div class="form-group">
                        <label class="modal-form-control-label" for="modal-form-keywordsDensity">Keyword density in %</label>
                        <input class="form-control" type="number" id="modal-form-keywordsDensity" onkeypress="isNumberKey(event)" min="0" />
                        <span class="text-danger modal-form-keywordsDensity-error"></span>
                    </div>
                    <div class="form-group">
                        <label class="modal-form-control-label" for="modal-form-personalization">Personalization</label>
                        <textarea class="form-control personalization" id="modal-form-personalization" placeholder="technical details and catchy phrases to sell product"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="submitEnteredParams" class="rd-btn">Generate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
