    <div id="ceoHelperModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ceo Helper Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="content-generator-form">
                        <div class="form-group">
                            <label for="languageSelector">Choose language</label>
                            <select class="form-control" id="languageSelector">
                                <option>English</option>
                                <option>Russian</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="textSize">Text size in symbols</label>
                            <input class="form-control" type="number" id="textSize" onkeypress="isNumberKey(event)" min="0" />
                        </div>
                        <div class="form-group">
                            <label for="keywords">Keywords</label>
                            <textarea class="form-control  keywords" id="keywords" placeholder="put teach keyword per line or separate via coma"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="keywordsDensity">Keyword density in %</label>
                            <input class="form-control" type="number" id="keywordsDensity" onkeypress="isNumberKey(event)" min="0" />
                        </div>
                        <div class="form-group">
                            <label for="personalization">Personalization</label>
                            <textarea class="form-control personalization" id="personalization" placeholder="technical details and catchy phrases to sell product"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="generateContent" class="rd-btn">Generate</button>
                            <button type="button" class="white-btn" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

