@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer;

<div class="content-generator-form-area pt-50 pb-50">
    <div class="container">
        <div class="content-generator-form mb-30">
            <div class="row justify-content-between">
                <div class="col-lg-8 generated-text-container">
                    <textarea id='generatedText' class="form-control generated-text" placeholder="Generated text is displayed here" disabled></textarea>
                    <div class="d-flex justify-content-between w-50">
                        <button id="likeBtn" type="button" class="rd-btn">Like</button>
                        <button id="dislikeBtn" type="button" class="rd-btn">Dislike</button>
                    </div>
                    <p id="contentGeneratorFormWarning" class="content-generator-form-warning mt-15 mb-15">Please click like if generated text words for you or dislike if its a total trash</p>
                    <input type="hidden" id="requestId" name="requestId" />
                </div>
                <div class="col-lg-4 generator-parameters-container">
                    <p class="available-words"><span id="currentUserAvailableTokens">@ViewBag.Tokens</span> words available</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-label="Words available" aria-valuenow="@ViewBag.Tokens" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p class="content-generator-form-warning">
                        Each user has 100 available symbols per day. Ping support if you need more
                    </p>
                    <label class="page-form-control-label" for="languageSelector">Choose language</label>
                    <select class="form-control" id="languageSelector">
                            <option value="en-US">English</option>
                            <option value="ru-RU">Russian</option>
                    </select>
                    <label class="page-form-control-label" for="textSize">Text size in symbols</label>
                    <input class="form-control" type="text" id="textSize" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1').replace(/^0[^.]/, '0');" />

                    <label class="page-form-control-label" for="keywords">Keywords</label>
                    <textarea id="keywords" class="form-control keywords" placeholder="put teach keyword per line or separate via coma"></textarea>

                    <label class="page-form-control-label" for="keywordsDensity">Keyword density in %</label>
                    <input class="form-control" type="text" id="keywordsDensity" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1').replace(/^0[^.]/, '0');" />

                    <label class="page-form-control-label" for="personalization">Personalization</label>
                    <textarea class="form-control personalization" id="personalization" placeholder="technical details and catchy phrases to sell product"></textarea>
                    <button type="button" id="generateContent" class="rd-btn">Generate</button>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_CeoHelperForm" />

@section scripts{
    <script>
        $(document).ready(function () {
            updateAvailableTokensProgressBar();
            if ($('#generatedText').val() === '') {
                document.getElementById('likeBtn').style.display = 'none';
                document.getElementById('dislikeBtn').style.display = 'none';
                document.getElementById('contentGeneratorFormWarning').style.display = 'none';
            }
            $("#ceoHelperModal").modal({ backdrop: 'static' });
        });

        function updateAvailableTokensProgressBar() {
            const progressBar = document.querySelector('.progress-bar[role="progressbar"]');
            let totalSymbols = $(progressBar).attr('aria-valuemax');
            let availableSymbols = $(progressBar).attr('aria-valuenow');
            let percentage = Math.min(Math.max(Math.floor(availableSymbols / totalSymbols * 100), 0), 100);
            progressBar.style.width = percentage + '%';
        }

        function validateCeoHelperForm() {
            if ($('#modal-form-textSize').val() === '' || $('#modal-form-textSize').val() === 0) {
                document.querySelector(".modal-form-textSize-error").innerHTML = "The field \'Text Size\' is required.";
                document.querySelector(".modal-form-textSize-error").style.display = "block";
                event.preventDefault();
                return false;
            }
            if ($('#modal-form-keywords').val() === '') {
                document.querySelector(".modal-form-keywords-error").innerHTML = "The field \'Keywords\' can\'t be empty.";
                document.querySelector(".modal-form-keywords-error").style.display = "block";
                event.preventDefault();
                return false;
            }
            if ($('#modal-form-keywordsDensity').val() === '' || $('#modal-form-keywordsDensity').val() === 0) {
                document.querySelector(".modal-form-keywordsDensity-error").innerHTML = "The field \'Keyword Density\' is required.";
                document.querySelector(".modal-form-keywordsDensity-error").style.display = "block";
                event.preventDefault();
                return false;
            }
            return true;
        }

        $(function () {
            $('#submitEnteredParams').on('click', function (evt) {
                evt.preventDefault();
                if (!validateCeoHelperForm()) return;
                let language = $('#modal-form-languageSelector').find(":selected").val();
                $('#languageSelector').val(language).change();
                let textSize = $('#modal-form-textSize').val();
                $('#textSize').val(textSize);
                let keywords = $('#modal-form-keywords').val();
                $('#keywords').val(keywords);
                let keywordsDensity = $('#modal-form-keywordsDensity').val();
                $('#keywordsDensity').val(keywordsDensity);
                let personalization = $('#modal-form-personalization').val();
                $('#personalization').val(personalization);
                $('#ceoHelperModal').hide();
                $('.modal-backdrop').hide();
            });

            $('#generateContent').on('click', function (evt) {
                evt.preventDefault();
                let language = $('#languageSelector').find(":selected").val();
                let textSize = $('#textSize').val();
                let keywords = $('#keywords').val();
                let keywordDensity = $('#keywordsDensity').val();
                let personalization = $('#personalization').val();
                let tokens = keywords.split(/[^\s]+/).length - 1;
                $.ajax({
                    url: "ceo/search",
                    type: "POST",
                    data: JSON.stringify(
                        {
                            language: language,
                            textSize: textSize,
                            keywords: keywords,
                            keywordDensity: keywordDensity,
                            personalization: personalization,
                            tokens: tokens
                        }
                    ),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        //$('#generatedText').text(data.completions[0].text);
                        //mock generated content from Open AI
                        $('#generatedText').val('Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ' +
                            'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit ' +
                            'in voluptate velit esse cillum dolore.');
                        $('input[name=requestId]:hidden').val(data.requestId);
                        $('#currentUserAvailableTokens').html(data.availableTokens);
                        const progressBar = document.querySelector('.progress-bar[role="progressbar"]');
                        $(progressBar).attr("aria-valuenow", data.availableTokens);
                        updateAvailableTokensProgressBar();
                        document.getElementById('likeBtn').style.display = 'block';
                        document.getElementById('dislikeBtn').style.display = 'block';
                        document.getElementById('contentGeneratorFormWarning').style.display = 'block';
                    }
                });
            });

            $('#likeBtn').on('click', function (evt) {
                evt.preventDefault();
                var requestId = $('input[name=requestId]:hidden').val();
                if (requestId === '' || requestId === undefined) return;
                $(this).attr('disabled', true);
                $('#dislikeBtn').attr('disabled', true);
                $.get("ceo/like?id=" + requestId, function () {
                    console.log('The result is liked.');
                    $(this).attr('disabled', false);
                    $('#dislikeBtn').attr('disabled', false);
                });
            });

            $('#dislikeBtn').on('click', function (evt) {
                evt.preventDefault();
                var requestId = $('input[name=requestId]:hidden').val();
                if (requestId === '' || requestId === undefined) return;
                $(this).attr('disabled', true);
                $('#likeBtn').attr('disabled', true);
                $.get("ceo/dislike?id=" + requestId, function () {
                    console.log('The result is disliked.');
                    $(this).attr('disabled', false);
                    $('#likeBtn').attr('disabled', false);
                });
            });
        });
    </script>
}