@model CeoHelper.Shared.Models.Ceo.IndexViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer;

<div class="content-generator-form-area pt-50 pb-50">
    <div class="container">
        <div class="content-generator-form mb-30">
            <div class="row justify-content-between">
                <div class="col-lg-8 generated-text-container">
                    <textarea id='generatedText' class="form-control generated-text" placeholder="Generated text is displayed here" disabled></textarea>
                    <div class="d-flex justify-content-between w-50">
                        <button id="likeBtn" type="button" class="rd-btn">Like</button>
                        <button id="dislikeBtn" type="button" class="rd-btn">Dislike</button>
                    </div>
                    <p id="contentGeneratorFormWarning" class="content-generator-form-warning mt-15 mb-15">Please click like if generated text words for you or dislike if its a total trash</p>
                    <input type="hidden" id="requestId" name="requestId" />
                </div>
                <div class="col-lg-4 generator-parameters-container">
                    <p class="available-words"><span id="currentUserAvailableTokens">@ViewBag.Tokens</span> words available</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-label="Words available" aria-valuenow="@ViewBag.Tokens" aria-valuemin="0" aria-valuemax="5000"></div>
                    </div>
                    <p class="content-generator-form-warning">
                        Each user has 5000 available symbols per day. Ping support if you need more
                    </p>
                    <label class="page-form-control-label" for="languageSelector">Choose language</label>
                    <select class="form-control" id="languageSelector">
                        <option value="en-US">English</option>
                        <option value="ru-RU">Russian</option>
                    </select>
                    <div class="form-group">
                        <label class="control-label" for="textSize">Text size in symbols</label>
                        <input class="form-control" type="text" id="textSize" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*?)\..*/g, '$1').replace(/^0[^.]/, '0');" />
                        <span class="text-danger textSize-error"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="keywords">Keywords</label>
                        <textarea class="form-control  keywords" id="keywords" placeholder="put teach keyword per line or separate via coma"></textarea>
                        <span class="text-danger keywords-error"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="keywordsDensity">Keyword density in %</label>
                        <input class="form-control" type="text" id="keywordsDensity" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1').replace(/^0[^.]/, '0');" />
                        <span class="text-danger keywordsDensity-error"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="personalization">Personalization</label>
                        <textarea class="form-control personalization" id="personalization" placeholder="technical details and catchy phrases to sell product"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="submitEnteredParams" class="rd-btn">Generate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.IsFirstTime)
{
    <partial name="_CeoHelperForm" />
}

@section scripts{
    <script>
        $(document).ready(function () {
            updateAvailableTokensProgressBar();
            if ($('#generatedText').val() === '') {
                document.getElementById('likeBtn').style.display = 'none';
                document.getElementById('dislikeBtn').style.display = 'none';
                document.getElementById('contentGeneratorFormWarning').style.display = 'none';
            }
            if ($("#ceoHelperModal").length) {
                $("#ceoHelperModal").modal({ backdrop: 'static' });
                document.body.classList.add('on-modal-show-overflow-hidden');
            }
        });

        function updateAvailableTokensProgressBar() {
            const progressBar = document.querySelector('.progress-bar[role="progressbar"]');
            let totalSymbols = $(progressBar).attr('aria-valuemax');
            let availableSymbols = $(progressBar).attr('aria-valuenow');
            let percentage = Math.min(Math.max(Math.floor(availableSymbols / totalSymbols * 100), 0), 100);
            progressBar.style.width = percentage + '%';
        }

        function validateCeoHelperForm() {
            if ($('#textSize').val() === '' || $('#textSize').val() === 0) {
                document.querySelector(".textSize-error").innerHTML = "The field \'Text Size\' is required.";
                document.querySelector(".textSize-error").style.display = "block";
                event.preventDefault();
                return false;
            }
            document.querySelector(".textSize-error").style.display = "none";
            if ($('#keywords').val() === '') {
                document.querySelector(".keywords-error").innerHTML = "The field \'Keywords\' can\'t be empty.";
                document.querySelector(".keywords-error").style.display = "block";
                event.preventDefault();
                return false;
            }
            document.querySelector(".keywords-error").style.display = "none";

            if ($('#keywordsDensity').val() === '' || $('#keywordsDensity').val() === 0) {
                document.querySelector(".keywordsDensity-error").innerHTML = "The field \'Keyword Density\' is required.";
                document.querySelector(".keywordsDensity-error").style.display = "block";
                event.preventDefault();
                return false;
            }
            document.querySelector(".keywordsDensity-error").style.display = "none";
            return true;
        }

        $(function () {
            $('#submitEnteredParams').on('click', function (evt) {
                evt.preventDefault();
                if (!validateCeoHelperForm()) return;
                let language = $('#languageSelector').find(":selected").val();
                $('#languageSelector').val(language).change();
                let textSize = $('#textSize').val();
                $('#textSize').val(textSize);
                let keywords = $('#keywords').val();
                $('#keywords').val(keywords);
                let keywordsDensity = $('#keywordsDensity').val();
                $('#keywordsDensity').val(keywordsDensity);
                let personalization = $('#personalization').val();
                $('#personalization').val(personalization);
                $('#ceoHelperModal').hide();
                $('.modal-backdrop').hide();
                document.body.classList.remove('on-modal-show-overflow-hidden');
                document.body.style.setProperty('padding-right', '0px', 'important');
                $('#preloader').show();
                $.ajax({
                    url: "ceo/search",
                    type: "POST",
                    data: JSON.stringify(
                        {
                            language: language,
                            textSize: textSize,
                            keywords: keywords,
                            keywordDensity: keywordsDensity,
                            personalization: personalization,
                        }
                    ),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $('#preloader').hide();
                        //$('#generatedText').text(data.completions[0].text);
                        //mock generated content from Open AI
                        $('#generatedText').val(data.generatedContent);
                        $('input[name=requestId]:hidden').val(data.requestId);
                        $('#currentUserAvailableTokens').html(data.availableTokens);
                        const progressBar = document.querySelector('.progress-bar[role="progressbar"]');
                        $(progressBar).attr("aria-valuenow", data.availableTokens);
                        updateAvailableTokensProgressBar();
                        document.getElementById('likeBtn').style.display = 'block';
                        document.getElementById('dislikeBtn').style.display = 'block';
                        document.getElementById('contentGeneratorFormWarning').style.display = 'block';
                    },
                    error: function (error) {
                        $('#preloader').hide();
                        console.log(error);
                    }
                });
            });

            $('#likeBtn').on('click', function (evt) {
                evt.preventDefault();
                var requestId = $('input[name=requestId]:hidden').val();
                if (requestId === '' || requestId === undefined) return;
                $(this).attr('disabled', true);
                $('#dislikeBtn').attr('disabled', true);
                $('#preloader').show();
                $.ajax({
                    url: "ceo/like?id=" + requestId,
                    success: function (data) {
                        $('#preloader').hide();
                        console.log('The result is liked.');
                    },
                    error: function (error) {
                        $('#preloader').hide();
                        console.log(error);
                    }
                });
            });

            $('#dislikeBtn').on('click', function (evt) {
                evt.preventDefault();
                var requestId = $('input[name=requestId]:hidden').val();
                if (requestId === '' || requestId === undefined) return;
                $(this).attr('disabled', true);
                $('#likeBtn').attr('disabled', true);
                $('#preloader').show();
                $.ajax({
                    url: "ceo/dislike?id=" + requestId,
                    success: function (data) {
                        $('#preloader').hide();
                        console.log('The result is disliked.');
                    },
                    error: function (error) {
                        $('#preloader').hide();
                        console.log(error);
                    }
                });
            });
        });
    </script>
}