<div class="content-generator-form-area pt-50 pb-50">
    <div class="container">
        <div class="content-generator-form mb-30">
            <form id="content-generator-form" action="#" method="POST">
                <div class="row justify-content-between">
                    <div class="col-lg-8 generated-text-container">
                        <textarea id='text' class="form-control generated-text" placeholder="Generated text is displayed here" disabled></textarea>
                        <button type="button" class="rd-btn">Like</button>
                        <button type="button" class="rd-btn">Dislike</button>
                        <p class="mt-15 mb-15">Please click like if generated text words for you or dislike if its a total trash</p>
                    </div>
                    <div class="col-lg-4 generator-parameters-container">
                        <label for="languageSelector">Choose language</label>
                        <select class="form-control" id="languageSelector">
                            <option>English</option>
                            <option>Russian</option>
                        </select>
                        <label for="textSize">Text size in symbols</label>
                        <input class="form-control" type="number" id="textSize" />

                        <label for="keywords">Keywords</label>
                        <textarea class="form-control  keywords" id="keywords" placeholder="put teach keyword per line or separate via coma"></textarea>

                        <label for="keywordsDensity">Keyword density in %</label>
                        <input class="form-control" type="number" id="keywordsDensity" />

                        <label for="personalization">Personalization</label>
                        <textarea class="form-control personalization" id="personalization" placeholder="technical details and catchy phrases to sell product"></textarea>
                        <button type="submit" id="submit" class="rd-btn">Generate</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@*<div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Set Ceo description</label>
        <div class="col-sm-7">
            <textarea id='text' class="form-control" placeholder="Generated text is displayed here"></textarea>
        </div>
    </div>


    <div class="col-sm-7 offset-sm-3">
    </div>


    <button class="btn btn-primary" id="submit">Submit</button>
    <div id="result"></div>
</div>*@
 
@section scripts{
    <script>
        $(function () {
            $('#submit').on('click', function (evt) {
                 evt.preventDefault();
                $.post('ceo/search?text='+ $('#keywords').val(), {}, function (data) {
                    $('#text').text(data.completions[0].text);
                  });
            });
        });
    </script>
}